@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Developer: @ViewData["Developer"]</p>
<p>Contact: @ViewData["email"]</p>


<address>
    <strong>More Information: </strong> <a href="http://wftecnology.com.br"> Wf Tecnology</a>
</address>